@import url('https://fonts.googleapis.com/css?family=Quicksand:400');

html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

body{
	background-color: #fff;
	color: #000;
  font-family: avenir, sans-serif;
  max-width: 1100px;
  margin: 0 auto !important;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
        "title title  title"
        "menu  menu  menu"
        "main  main  main"
        "main1  main1  main1"
        "main2  main2  main2"
        "foot  foot  foot"; 
  grid-gap: 10px;
}

.header{
  grid-area: title;
  background-color: #C0C0C0;
  padding-right: 1em;
} 

#menu{
  grid-area: menu;
  background-color: #A1BCBC;
}

.main{
  grid-area: main;
  background-color: #C0C0C0;
  padding: 0.2em 1em;
}

.main1{
  grid-area: main1;
  background-color: #C0C0C0;
  padding: 0.2em 1em;
}

.main2{
  grid-area: main2;
  background-color: #C0C0C0;
  padding: 0.2em 1em;
}

.foot {
  grid-area: foot;
  background-color: #C0C0C0;
  padding: 0.2em 1em;
}

/*---------------Header---------------*/
.logo{
  width: 75px;
  height: 100%;
  position: relative;
  padding-left: 5%;
}

header {
  display: flex;
  flex-flow: row;
  align-content: center;
}

.titel-hci{
  font-family: "Quicksand";
  text-align: center;
  font-size: 25px;
  top: 20px;
}

/*---------------Nav styles---------------*/
nav {
  position: relative;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  height: 100%;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  padding: 1em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid black;
}

nav ul li:hover {
  background-color: red /*rgba(50, 50, 50, 0.5)*/;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

/*----------TRYOUT--------------*/
/*a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
  background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}*/

/*---------------Hamburger menu---------------*/
.menutoggle{
  margin-left: auto;
}

.menutoggle a{
  font-size: 2em;
  color: #000;
  text-decoration: none;
}

.active{
  max-height: 670px;
  transition: max-height 1s;
}

.inactive{
  max-height: 0px;
  transition: max-height 1s;
}

/*---------------Teksten---------------*/
/*h1 {
  text-align: center;
  font-size: 1.2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
}*/

h3 {
  background-color: white;
  text-align: center;
  font-size: 1.3em; 
}

/*---------------Home---------------*/
#home{

}

.djenna-foto{
  width: 300px;
  padding: 5px;
  float: left;
}

/*---------------Wearables---------------*/
#wearables{

}

#wearables-tat{
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wearables-chart{
  width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fotos-wearables{
  
}

/*---------------Playful interfaces---------------*/

/*---------------Articifial creatures---------------*/

/*---------------AR & VR---------------*/

/*---------------Arduino---------------*/

/*---------------VR environments---------------*/

/*---------------Computer vision---------------*/

/*---------------Excursion---------------*/

/*---------------Lab weeks---------------*/


/*---------------Footer---------------*/
footer{
    padding-top: 1%;
    padding-bottom: 1%;
}

footer p{
    font-size: 0.8em;
    text-align: center;
}

/*---------------Tablet en groter---------------*/
@media only screen and (min-width: 900px){
  .logo{
    padding-left: 1%;
    width: 100px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
  }

  nav ul{
    display: flex;
    flex-flow: row;
    width: 100%;
  }

  nav ul li {
    padding: 0.5em;
    border-bottom: unset;
  }

  .menutoggle{
    display: none;
  }

  .active, .inactive{
    max-height: unset;
  }

  .djenna-foto{
    width: 300px;
    padding: 5px;
    float: right;
  }
}
