@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

body{
	background-color: #fff;
	color: #000;
  font-family: avenir, sans-serif;
  max-width: 1100px;
  margin: 0 auto !important;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
        "title title  title"
        "menu  menu  menu"
        "main  main  main"
        "main1  main1  main1"
        "main2  main2  main2"
        "foot  foot  foot"; 
  grid-gap: 10px;
}

.header{
  grid-area: title;
  background-color: #EEC8C6;
  padding-right: 1em;
} 

#menu{
  grid-area: menu;
  background-color: #A1BCBC;
}

.main{
  grid-area: main;
  background-color: #EEC8C6;
  padding: 0.2em 1em;
}

.main1{
  grid-area: main1;
  background-color: #EEC8C6;
  padding: 0.2em 1em;
}

.main2{
  grid-area: main2;
  background-color: #EEC8C6;
  padding: 0.2em 1em;
}

.foot {
  grid-area: foot;
  background-color: #ffe6e6;
  padding: 0.2em 1em;
}

/*---------------Header---------------*/
.logo{
  width: 75px;
  height: 100%;
  position: relative;
  padding-left: 5%;
}

header {
  /*display: flex;*/
  text-align: left; 
  flex-flow: row;
  float: left;
}

.titel-hci{
  font-family: "Quicksand";
  text-align: center;
  font-size: 25px;
  top: 20px;
}

/*---------------Nav styles---------------*/
nav {
  position: relative;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  height: 100%;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  padding: 1em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid black;
  font-family: "Quicksand", sans-serif;
}

nav ul li:hover {
  background-color: #EEC8C6;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

/*---------------Hamburger menu---------------*/
.menutoggle{
  margin-left: auto;
}

.menutoggle a{
  font-size: 2em;
  color: #000;
  text-decoration: none;
}

.active{
  max-height: 670px;
  transition: max-height 1s;
}

.inactive{
  max-height: 0px;
  transition: max-height 1s;
}

/*---------------Teksten---------------*/
h1{
  font-family: "Quicksand";
  font-weight: bolder;
}

h2{
  font-family: "Quicksand";
  font-weight: bolder;
}

h3 {
  /*background-color: white;*/
  /*text-align: center;*/
  font-size: 1.3em; 
  font-family: "Quicksand";
  font-weight: bolder;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}

/*---------------Home---------------*/
.djenna-foto{
  width: 60%;
  padding: 5px;
  /*float: left;*/
}

#main1-index{
  display: none;
}

#main2-index{
  display: none;
}

/*---------------Wearables---------------*/
#wearables{

}

#wearables-tat{
  width: 50%;
  height: auto;
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

#wearables-chart{
  width: 10%;
  height: auto;
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

.fotos-wearables{
  
}

/*---------------Playful interfaces---------------*/
#playful-img{
  width: 30%;
  height: auto;
}

#playful-vid{
  width: 50%;
  height: auto;
}

#playful-tech{
  float: left;
  margin: 3px;
}
/*---------------Articifial creatures---------------*/
#ac-media{
  float: none;
}
.ac-foto{
  width: 100%;
  height: auto;
}

.ac-video{
  width: 100%;
  height: 200px;
}
/*---------------AR & VR---------------*/

/*---------------Arduino---------------*/
.arduino-vid{
  width: 320px;
  height: auto;
}

.arduino-foto{
  width: 320px;
  height: auto;
}

.language-css{
  width: 100%;
}
/*---------------VR environments---------------*/

/*---------------Computer vision---------------*/

/*---------------Excursion---------------*/

/*---------------Lab weeks---------------*/


/*---------------Footer---------------*/
footer{
    padding-top: 1%;
    padding-bottom: 1%;
}

footer p{
    font-size: 0.8em;
    text-align: center;
}

#link-footer{
  text-decoration: none;
  color: white;
}

#link-footer:hover{
  color: black;
}
/*---------------Tablet en groter---------------*/
@media only screen and (min-width: 900px){
  .logo{
    padding-left: 1%;
    width: 100px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
  }

  nav ul{
    display: flex;
    flex-flow: row;
    width: 100%;
  }

  nav ul li {
    padding: 0.5em;
    border-bottom: unset;
  }

  .menutoggle{
    display: none;
  }

  .active, .inactive{
    max-height: unset;
  }

  .djenna-foto{
    width: 300px;
    padding: 5px;
    float: right;
  }

  /*---------------Arduino---------------*/
  .arduino-vid{
    width: 320px;
    height: auto;
  }

  .arduino-foto{
    width: 320px;
    height: auto;
  }

  .language-css{
    width: 65%;
  }
  /*---------------Playful interfaces---------------*/
  #playful-vid{
    width: 640px;
    height: 360px;
  }

  /*---------------Articifial creatures---------------*/
  #ac-media{
    float: left;
  }

  .ac-foto{
    width: 45%;
    height: auto;
  }

  .ac-video{
    width: 1000px;
    height: 500px;
  }
}
